.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
}

.para {
  text-align: center;
  margin-top: 16px;
}

.msg{
  width:400px;
  margin:auto;
  padding: 20px;
  background: #efefef;
  border-radius: 10px;
  margin: 10px auto 50px auto;
  box-shadow: 0px 15px 15px -5px #4e4e4e;

}
.msg-box{
  width:100%;
  resize: none;
  min-height: 100px;
  border: none;
}
.msg-box:focus{
  border: none;
  outline: none;
}
.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border-radius: 10px;
  height: 50px;
  background: #ff00dd;
  border: 5px solid transparent;
  transition: 0.2s linear;
  color: #fff;
  font-size: 1.2em;
  width: 100%;
}
.wave-log{
  width: 100%;
  border: 5px solid #ff00dd;
  padding: 1rem;
  border-radius: 20px;
}
.waveButton:disabled{
  color: #333;
}
.waveButton:hover:enabled {
  color: #001;
  background: white;
  border-color: #ff00dd;
}

.waveButton:active,
.btn:active {
  transform: scale(0.98);
}
.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.btn {
  min-width: 100px;
  height: 50px;
  border-radius: 5px;
  background: #00aeff;
  color: #fff;
  font-size: 1.1em;
  border: 2px solid transparent;
  margin: 10px;
  transition: 0.2s linear;
}
.btn:hover {
  background: #fff;
  color: #00aeff;
  border-color: #00aeff;
}
.prograss-bar {
  margin: 20px;
  min-height: 50px;
  border-radius: 10px;
  width: calc(113 * 5px);
  box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
  background-color: #00aeff;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 40px,
    #fff 40px,
    #fff 80px
  );

  animation: slide 1s linear infinite;
  will-change: background-position;
}

.waves{
  height: 180px;
  width: 180px;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0px 15px 15px -5px #4e4e4e;
  /* margin: auto; */
  text-align: center;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.waves .no{
  font-size: 1.8em;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}
