.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border-radius: 10px;
  height: 50px;
  background: #ff00dd;
  border: 5px solid transparent;
  transition: .2s linear;
}
.waveButton:hover{
  background: white;
  border-color: #ff00dd;
}
.waveButton:active, .btn:active{
  transform: scale(0.98);
}
.connect{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.btn{
  min-width: 100px;
  height: 50px;
  border-radius: 5px;
  background: #00aeff;
  color: #fff;
  font-size: 1.1em;
  border: 5px solid transparent;
  margin: 10px;
}